{% load static %}
    <script src="{% static 'VPNSite/assets/js/rocket.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/browser.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/util.js' %}"></script>
    <script src="{% static 'VPNSite/assets/js/main.js' %}"></script>
