{% load static %}
<section id="two" class="wrapper style2 special fade">
    <div class="container">
        <header>
            <h2>VPN Support</h2>
            <p>If you got the problem, fill up the form below</p>
        </header>
        <form method="post" class="cta">
            <div class="row gtr-uniform gtr-50">
                <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
{#                <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>#}
                <div class="col-11"><textarea name="message" id="message" placeholder="Enter your problem" rows="6"></textarea></div>
            </div>
        </form>
    </div>
</section>