<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'VPNSite/assets/css/main.css' %}" />
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				{% include 'main/constant_templates/header.html' %}

			<!-- Banner -->
				<section id="banner">
                    <div class="content">
                        <header>
                            <h2>Add your site</h2>
                            <p>To start VPN</p>
                        </header>
                            <form method="post" class="major">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" href="{% url 'VPN' %}" class="fit button">Add Site</button>
                            </form>
                    </div>
                </section>

			<!-- Two -->
				{% include 'main/constant_templates/support.html' %}

			<!-- Footer -->
				{% include 'main/constant_templates/footer.html' %}
		</div>

		<!-- Scripts -->
            {% include 'main/constant_templates/scripts.html' %}
    
	</body>
</html>