<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'VPNSite/assets/css/main.css' %}" />
	</head>
            <!-- Header -->
            <header id="header">
                <div class="logo"><img src="{% static 'VPNSite/images/history.svg' %}" alt="Small Image"></div>
                <nav id="nav">
                    <ul>
                        <li><a href="{% url 'Main' %}" class="button primary">Main page</a></li>
                    </ul>
                </nav>
            </header>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Banner -->
            <div id="banner-wrapper">
               <section id="banner">
                    <div class="content">
                        {{ content|safe }}
                    </div>
               </section>
            </div>
        </div>
			<!-- Two -->
            {% include 'main/constant_templates/support.html' %}

			<!-- Footer -->
            {% include 'main/constant_templates/footer.html' %}

		    <!-- Scripts -->
            {% include 'main/constant_templates/scripts.html' %}
	</body>
</html>