<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'VPNSite/assets/css/main.css' %}" />
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				{% include 'main/constant_templates/header.html' %}

			<!-- Banner -->
                    <div class="content">
                        <div class="major">
                            <h2>Log In</h2>
                            <p>You have to log in before starting the VPN</p>
                        </div>
                    </div>
				<section>
					<div class="content">
                        <div class="major">
                            <form method="post" class="cta">
                                <div class="row gtr-uniform gtr-50">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="col-8 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
                                </div>
                            </form>
                        </div>
                        <p>Don't have an account? <a href="{% url 'singup' %}">Sign up</a></p>
					</div>
				</section>


		</div>

		<!-- Scripts -->
            {% include 'main/constant_templates/scripts.html' %}

	</body>
</html>