<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'VPNSite/assets/css/main.css' %}" />
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				{% include 'main/constant_templates/header.html' %}

            <!-- main -->
                <section>
                <h1></h1>
					<div class="content">
						<header class="major">
{#                            <div class="image xsmall">#}
{#                                <img src="{{ user.avatar.url }}" alt="" />#}
{#                            </div>#}
							<h2>{{ user.first_name }} {{ user.last_name }}</h2>
							<p>{{ user.email }}</p>
                            <p>Date joined: {{ user.date_joined }}</p>
                            <a href="{% url 'edit_profile' %}" class="button small">Edit profile</a>
                            <a href="{% url 'logout' %}" class="button primary small">Log out</a>
                            <h2></h2>
                           {% if statistic %}
                                {% for stat in statistic %}
                                    <ul>
                                        <strong>URL: {{ stat.url }}</strong><br>
                                        <strong>Counter: {{ stat.counter }}</strong><br>
                                        <strong>Data sent: {{ stat.data_sent|filesizeformat }}</strong><br>
                                        <strong>Data received: {{ stat.data_received|filesizeformat }}</strong><br>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>No websites available.</p>
                            {% endif %}
                        </header>
					</div>
				</section>
            </section>

		</div>

		<!-- Scripts -->
            {% include 'main/constant_templates/scripts.html' %}

	</body>
</html>